{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stock Market</title>
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="{% static 'css/amazeui.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/admin.css'%}">
    <link rel="stylesheet" href="{% static 'css/app.css'%}">
    <script src="{% static 'js/echarts.min.js'%}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>
          $(document).ready(function()
          {
            selectMenu(document.getElementById('td0'),'tab0');
          })
          function selectMenu(oThis,tabID)
          {
                for(i = 0; i<4; i++){
                    document.getElementById("tab" + i).style.display = "none";
                }
                document.getElementById(tabID).style.display = "";
          }
    </script>
</head>
<body data-type="index">
    <header class="am-topbar admin-header">
        <div class="am-topbar-brand"><a style="color: #0b76ac ;font-size: 25px">Stock Market</a></div>
            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right">
                <span class="tpl-header-list-user-nick">{{ user.username }}</span>
                <span class="tpl-header-list-user-ico"> <img src="{% static 'images/user01.png'%}"></span>
            </ul>
        </div>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="../" class="nav-link active">
                            <i class="am-icon-home"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>World Indices</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href={% url 'stock:world_indices' %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>Historical Data</span>
                                </a>
                                <a href={% url 'stock:trend' %}>
                                    <i class="am-icon-angle-right"></i>
                                    <span>Trend</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                        </ul>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="{% url 'account:logout' %}" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-key"></i>
                            <span>Log out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tpl-content-wrapper">
            <div class="tpl-content-scope">
                <table class="note2 note-info">
                    <td id="td0" style="white-space: nowrap" onclick="selectMenu(this,'tab0')">
                        <a href="#"><span>HANG SENG</span></a>&nbsp  ||  &nbsp</td>
                    <td id="td1" style="white-space: nowrap" onclick="selectMenu(this,'tab1')">
                        <a href="#"><span>NASDAQ Composite</span></a>&nbsp  ||  &nbsp</td>
                    <td id="td2" style="white-space: nowrap" onclick="selectMenu(this,'tab2')">
                        <a href="#"><span>Shenzhen Component</span></a>&nbsp  ||  &nbsp</td>
                    <td id="td3" style="white-space: nowrap" onclick="selectMenu(this,'tab3')">
                        <a href="#" ><span>Russell 2000</span></a>&nbsp  ||  &nbsp</td>
                </table>
            </div>
            {% for idx, name, all_data in info %}
                <div  id="{{ idx }}"  type="radio" class="row" style="display: none;">
                    <div class="am-u-md-12 am-u-sm-12 row-mb">
                        <div class="tpl-portlet">
                            <div class="tpl-portlet-title">
                                <div class="tpl-caption font-red ">
                                    <i class="am-icon-bar-chart"></i>
                                    <span> Chart </span>
                                </div>
                                <div class="actions">
                                    <li>Historical data for {{ name.name }}</li>
                                </div>
                            </div>
                            <table id="{{ name.name }}" style="width: 1200px;height:600px;">

                            <script >
                            var myChart = echarts.init(document.getElementById('{{name.name}}'));
                            var High_price = [];
                            var xAxis_data = [];
                            var Low_price = [];
                            var Open_price = [];
                            var Close_price = [];
                            var Volume = [];
                            {% for data in all_data %}
                                High_price.push("{{ data.high_price }}")
                                Low_price.push("{{ data.low_price }}")
                                Open_price.push("{{ data.open_price }}")
                                Close_price.push("{{ data.close_price }}")
                                Volume.push("{{ data.volume }} K")
                                xAxis_data.push("{{ data.date }}")
                            {% endfor %}
                            var option = {
                                tooltip: {
                                    trigger: 'axis'
                                },
                                legend: {
                                    data: ['High', 'Low', 'Open', 'Close', 'Volume'],
                                    selected: {'High':true, 'Low':false, 'Open':false,'Close':false,'Volume':false}
                                },
                                grid: {
                                    left: '3%',
                                    right: '4%',
                                    bottom: '3%',
                                    containLabel: true
                                },
                                xAxis: {
                                    type: 'category',
                                    boundaryGap: false,
                                    data: xAxis_data
                                },
                                yAxis: [{
                                    type: 'value',
                                    scale: true,
                                    selectedMode: 'single',
                                },
                                {
                                    type: 'value',
                                    scale: true,
                                    show: false
                                }],
                                series: [
                                    {
                                        name: 'High',
                                        type: 'line',
                                        data: High_price
                                    },
                                    {
                                        name: 'Low',
                                        type: 'line',
                                        data: Low_price,

                                    },
                                    {
                                        name: 'Open',
                                        type: 'line',
                                        data: Open_price,
                                    },
                                    {
                                        name: 'Close',
                                        type: 'line',
                                        data: Close_price,
                                    },
                                   {
                                        name: 'Volume',
                                        type: 'line',
                                        stack: '总量',
                                        data: Volume,
                                        yAxisIndex : 1,
                                    }
                                ]
                            };
                            myChart.setOption(option);
                        </script>
                        </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
    <script src="{% static 'js/amazeui.min.js'%}"></script>
    <script src="{% static 'js/iscroll.js'%}"></script>
    <script src="{% static 'js/app.js'%}"></script>
        </div>
    </div>
</body>

</html>